@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* Color Variable */
:root {
    --primary-magenta: hsl(300, 43%, 22%);
    --primary-pink: hsl(333, 80%, 67%);
    --n-dark-magenta: hsl(303, 10%, 53%);
    --n-light-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Section 1 */
#hero-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-magenta);
}

#sub-title {
    font-weight: 500;
    color: var(--n-dark-magenta);
}

/* Section 2 */
#section-2 {
    display: grid;
    grid-gap: 1rem;
}

.rating-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    border-radius: 0.5rem;
    background-color: var(--n-light-magenta);
    color: var(--primary-magenta);
    font-weight: 700;
    font-size: 12px;
}

.five-star {
    margin-bottom: 0.75rem;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}