body {
	background: rgb(175, 103, 233);
	background: linear-gradient(180deg, rgba(175, 103, 233, 1) 0%, rgba(101, 101, 231, 1) 60%);
}

#woman {
	background: url('_assets/illustration-woman-online-mobile.svg'), url('_assets/bg-pattern-mobile.svg');
	background-repeat: no-repeat;
	background-size: contain, 12rem;
	background-position: center center, center bottom;
}

details summary::-webkit-details-marker {
	display: none;
}

details summary p {
	cursor: pointer;
}

details[open] summary .arrow {
	transform: rotate(180deg);
	transition: 0.5s;
}

details[open] summary p {
	color: hsl(237, 12%, 33%);
	font-weight: 700;
}

details[open] summary~* {
	animation: sweep .5s ease-in-out;
}

@keyframes sweep {
	0% {
		opacity: 0;
		margin-top: -10px
	}

	100% {
		opacity: 1;
		margin-top: 0px
	}
}