@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
	--dark-gray: hsl(217, 19%, 35%);
	--saturate-dark: hsl(214, 17%, 51%);
	--gray: hsl(212, 23%, 69%);
	--light-gray: hsl(210, 46%, 95%)
}

html {
	font-family: 'Manrope', sans-serif;
    background: var(--light-gray);
}
@media(min-width: 900px) {
    body {
        @apply flex;
        @apply flex-col;
        @apply justify-center;
        @apply items-center;
        @apply h-screen;
        @apply w-full;
    }

    .wrapper {
        @apply flex;
        @apply rounded-lg;
        @apply overflow-hidden;
        @apply shadow-lg;
    }

    .image img {
        width: 286px;
        height: 278px
    }

    .text-content {
        width: 445px;
        @apply bg-white;
        @apply px-9;
    }

    .text-content .text-title {
        color: var(--dark-gray);
        letter-spacing: 1px;
        @apply pt-8;
        @apply mb-3;
        @apply font-bold;
        @apply text-lg;
    }

    .text-content .text-subtitle {
        color: var(--saturate-dark);
        font-size: 11px;
        letter-spacing: 1px;
        @apply font-normal;
        @apply leading-5;
    }

    .footer {
        height: 86px;
        @apply w-full;
        @apply flex;
    }

    .footer > * {
        @apply flex-grow;
    }

    .profile {
        @apply flex;
        @apply items-center;
    }

    .profile .profile-image {
        background: url('_assets/avatar-michelle.jpg');
        background-size: contain;
        @apply rounded-full;
        @apply w-11;
        @apply h-11;
        @apply mr-3;
    }

    .profile .profile-name {
        font-size: 11px;
        letter-spacing: 1px;
    }

    .profile .profile-name .name {
        color: var(--dark-gray);
        @apply font-bold;
        @apply leading-5;
    }

    .profile .profile-name .date {
        color: var(--saturate-dark);
    }

    .share {
        @apply flex;
        @apply justify-end;
        @apply items-center;
    }

    .share .share-img {
        background-color: var(--light-gray);
        @apply flex;
        @apply justify-center;
        @apply items-center;
        @apply rounded-full;
        @apply w-8;
        @apply h-8;
    }
}