@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
	--dark-gray: hsl(217, 19%, 35%);
	--saturate-dark: hsl(214, 17%, 51%);
	--gray: hsl(212, 23%, 69%);
	--light-gray: hsl(210, 46%, 95%)
}

html {
	font-family: 'Manrope', sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.3rem;
	background-color: var(--light-gray);
}

#container {
	width: 90vw;
	max-width: 375px;
	overflow: hidden;
}

#image {
	height: 200px;
}

#image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#title {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--dark-gray);
}

#subtitle {
	font-size: 1.4rem;
	color: var(--saturate-dark);
}

#profile-info #name {
	color: var(--dark-gray);
	font-weight: 700;
}

#profile-info #date {
	color: var(--gray);
}

#active {
	background: var(--dark-gray);
	transition: 0.3s ease-out;
}

#share-text {
	letter-spacing: 0.4em;
	color: var(--saturate-dark);
	font-weight: 700;
}

.btn, .btn svg path {
	transition: background, fill 0.3s ease-in;
}

.btn-share {
	background: var(--light-gray);
}

/* Active Styles */
.btn-active {
	background: var(--saturate-dark);
}

.btn-active svg path {
	fill: #fff;
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: var(--saturate-dark);
}

.attribution a {
	color: hsl(228, 45%, 44%);
}